@import '~antd/dist/antd.css';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  overflow-x: clip;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Fira Sans";
  src: local("coder"), url(font.woff) format("woff");
}



body {
  margin: 0;
  font-family: "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  background-color: "#4C4C4C";
}

.ant-collapse-arrow {
  display: none !important;
}

.ant-collapse {
  background: transparent;
  border: none;
}

.ant-collapse-item {
  transition: all .4s;
  transform: rotate3d(1, 1, 1, 0deg);
  background: #5D3B94;
  border: none;
  box-shadow: inset 0px 0px 0 1px #000, 0px 0px 0 4px #000;
  margin: 15px;
  border-radius: 10px;
  font-size: 50px;
  padding: 10px;
}

#heroBackground {
  margin: "";
  background-size: 25%;
  background-position: top;
  background-color: #5d3a94;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23b4d41f' fill-opacity='0.22' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.mintNumber {
  font-size: 40px !important;
  background: #FCF6D6;
  padding: 10px 50px 10px 50px;
  border-radius: 12px;
  color: #5D3B94 !important;
}

.ant-collapse-item-active {
  margin: 40px 30px;
  transform: rotate3d(1, 18, 1, 1deg);
  background: #EB5A48 !important;
  box-shadow: inset 0px 0px 0 2px #fe984c, 0px 0px 0 8px #5d3b94;
  border: none !important;
  border-bottom: none !important;
}

.ant-collapse-header {
  font-family: "Fira Sans";
color: white !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: none;
}
 .ant-collapse-content-box , .ant-collapse-content{
  background: transparent !important;
  border-top: none;
}

.cxzubI {
  font-size: 36px !important;
}

#tokeArea2 {
  box-shadow: 0px 2px 20px 20px #b5d41f, 0px -20px 20px 20px #b5d41f90;
}

.icons{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.icons a{
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4;
}

.company-name{
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.hohBlo {
  font-size: 40px !important;
  background: #FCF6D6;
  padding: 0px 50px 0px 50px;
  border-radius: 12px;
  color: #5D3B94 !important;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

#texturedCard {
  background-image: url(../texturedCard.png);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: top;
}

#texturedCard2 {
  background-image: url(../texturedCard2.png);
  background-size: 102%;
  background-repeat: no-repeat;
  background-position: top;
}

#buySection {
  display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 800px) {
  #header, #headerRight {
    flex-direction: column;
  }
  #header{
    height: 375px !important;
    margin-bottom: 25px;
    justify-content: center !important;
  }
  #snoopIllustration {
    width: 100% !important;
    margin: 0 !important;
  }
  #texturedCard {
    min-width: 375px !important;
  }
  #randomMintP {
    margin: 0 !important;
  }
  #headerRight a button {
    margin: 0 0 0 0 !important;
    width: 100% !important;
  }
  #tokeArea {
    width: 95vw !important;
  }
}
@media only screen and (min-width: 1800px) {
  #buySection {
    margin: 5.5%;
    transform: scale(1.3);
  }
}

@media only screen and (min-width: 2400px) {
  #headerRight a {
    transform: scale(1.3);
  }
  #buySection {
    margin: 9.5%;
    transform: scale(1.5);
  }
}